#border_none{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    line-height: 60px;
}

#header_border{
    /* border: 1px dotted gray; */
    height: 65px;
    border-radius: 50px;
    
}